.RichEditor {
    width: 80vw;
    border: 1px solid silver;
    max-height: 80vh;
    overflow-y: scroll;
}

.RichEditorHeader, .RichEditorCenteredHeader {
    text-transform: uppercase;
}

.RichEditorCenteredHeader {
    text-align: center;
}