#copy-btn {
    border-radius: 15px;
    background-color: #88ccff;
    border: none;
    width: 54px;
    height: 30px;
    font-size: 16px;
    font-weight: bold;
}

#article-link {
    background-color: white;
    outline: 1px;
    width: 210px;
    margin-right: 7px;
    height: 21px;
    border-radius: 8px;
}
